<aside class="w3-card-2 w3-margin w3-padding w3-white">
  <h4>About</h4>
  <span id="about_content">
    <%= render 'about' %>
  </span>
</aside>

<aside id="post_list" class="w3-card-2 w3-margin w3-padding w3-white">
  <%= render 'post_list' %>
</aside>

<!--
<aside id="tag_list" class="w3-card-2 w3-margin w3-padding w3-white">
  <h4>Tags</h4>
</aside>

<aside id="author_list" class="w3-card-2 w3-margin w3-padding w3-white">
  <h4>Authors</h4>
</aside>
-->
