<div class="w3-row">
  <main class="w3-col m8">
    <%= render( partial: "article", collection: @articles, spacer_template: "hr_spacer" ) || render('empty_list') %>
    <div class="w3-margin w3-center">
      <%= paginate @articles %>
    </div>
  </main>

  <div class="w3-col m4">
    <%= render 'side_panel' %>
  </div>
</div>
