<div class="w3-row">
  <main class="w3-col m8">
    <%= render( "article", article: @post ) %>
    <%= link_to( "Back", :back, class: "w3-margin back_button_link w3-theme-d2" ) %>
  </main>

  <div class="w3-col m4">
    <%= render 'side_panel' %>
  </div>
</div>
