/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.myfont,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

header h1 {
  font-variant: small-caps;
  margin-top: 32px;
}

nav {
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 980px;
}

nav input { padding: 0 8px; vertical-align: middle; }

#mobile_menu { cursor: pointer; }
