/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.myfont,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

h1,h2,h3,h4,h5,h6 {
  color: darkblue;
}

h6 .update_time {
  font-size: small;
}

#menu_bar {
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#menu_bar ul {
  margin: auto;
}

#menu_bar input { padding: 0 8px; vertical-align: middle; }

#mobile_menu { cursor: pointer; }

#menu_search_button {
  margin-left: 4px;
}

#login_box > div {
  max-width: 400px;
  margin: auto;
}

#login_box input {
  font-weight: bold;
}

#signup_tab {
  display: none;
}

nav a {
  display: block;
  outline-style: none;
}

tr:nth-child(even) {
  background-color: #EEE;
}

input, textarea, button {
  border: 1px solid;
}

#alert {
  font-weight: bold;
  color: red;
}

#notice {
  font-weight: bold;
  color: green;
}

.blog_form {
  max-width: 800px;
  margin: auto;
}

.blog_form .w3-row {
  margin: 8px 0;
}

.blog_form input, .blog_form textarea {
  border-color: rgba(0, 0, 63, 0.3);
  border-radius: 3px;
}

.user_form {
  max-width: 500px;
  margin: auto;
}

.field label {
  font-weight: bold;
  color: #3f51b5;
}

.field input {
  box-sizing: border-box;
  border: 0 solid #3f51b5;
  border-bottom-width: 1px;
  margin-bottom: 8px;
  font-weight: bold;
  width: 100%;
}

.field textarea {
  border: 1px solid #3f51b5;
  margin: 8px 0;
}

.actions input {
  font-weight: bold;
}

.field_with_errors {
  display: inline;
}

.field_with_errors input {
  background-color: MistyRose;
}

#error_explanation ul {
  padding-left: 4px;
}

#error_explanation li {
  list-style-type: square;
  list-style-position: inside;
  color: red;
}

footer a {
  text-decoration: none;
}

header h1 {
  margin-top: 48px;
}

header p {
  font-variant: small-caps;
/*  text-transform: capitalize; */
}

.blog_form label {
  display: inline-block;
  width: 5em;
  vertical-align: top;
}

.blog_form input[type='submit'] {
  padding: 0.1em 0.5em;
  cursor: pointer;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.5s;
}

.blog_form input[type='submit']:hover {
  box-shadow: 0 4px 8px gray;
  transition: box-shadow 0.5s;
}

.blog_form textarea {
  height: 15em;
}

.w3-row input, .w3-row textarea {
  padding: 0.2em 0.5em;
  width: 100%;
}

.w3-content {
  margin: 0 16px;
}

@media only screen and (min-width:601px) {
  #current_user_menu .w3-dropdown-content {
    right: 0;
  }
 
  header h1 {
    margin-top: 64px;
  }

  .w3-row input, .w3-row textarea {
    width: calc( 100% - 5.3em );
  }

  .blog_form input[type='submit'] {
    margin-left: 5.3em;
  }
}

@media only screen and (min-width:993px) {
  .w3-content {
    max-width: 1400px;
  }

  #menu_bar ul {
    width: calc(100% - 64px);
  }
}
