/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.myfont,body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

header h1 {
  font-variant: small-caps;
  margin-top: 32px;
}

#menu_bar {
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 980px;
}

#menu_bar input { padding: 0 8px; vertical-align: middle; }

#mobile_menu { cursor: pointer; }

#login_box > div {
  max-width: 400px;
}

#login_box input {
  font-weight: bold;
}

#signup_tab {
  display: none;
}

nav a {
  display: block;
  outline-style: none;
}

.field label {
  font-weight: bold;
  color: #3f51b5;
}

.field input {
  box-sizing: border-box;
  border: 0 solid #3f51b5;
  border-bottom-width: 1px;
  margin-bottom: 8px;
  font-weight: bold;
  width: 100%;
}

